---
import { Link } from '@/components/ui/Link'
import Section from '@/components/ui/Section.astro'
import SkillLayout from '@/components/ui/SkillLayout.astro'
import {
  backend,
  cloud,
  containers,
  frontend,
  languages,
  others,
} from '@/i18n/content/skills'
import { useTranslations } from '@/i18n/utils'
import Base from '@/layouts/Base.astro'
import Hero from '@/partials/Hero.astro'
import ProjectsSection from './ProjectsSection.astro'

const t = useTranslations('de')
---

<Base title="Home">
  <Hero />

  <Section title={t('section.about')}>
    <p class="text-muted-foreground text-justify">
      Ich bin Softwareentwickler aus Köln und arbeite aktuell bei der <Link
        href="https://infolytics.com/">Infolytics AG</Link
      >. Meinen Bachelor und Master in Informatik habe ich an der <Link
        href="https://www.rwth-aachen.de/cms/root/studium/vor-dem-studium/studiengaenge/liste-aktuelle-studiengaenge/studiengangbeschreibung/~bnzs/informatik-b-sc-/?lidx=1"
        >RWTH Aachen</Link
      > bzw. der <Link
        href="https://cs.uni-koeln.de/en/lehre-studium/msc-informatik"
        >Universität zu Köln</Link
      > gemacht und den Master mit Auszeichnung abgeschlossen.
    </p>
    <p class="text-muted-foreground text-justify">
      In meiner Freizeit bin ich gerne aktiv – meistens beim Badminton oder
      Bouldern. Wann immer sich die Gelegenheit bietet, reise ich außerdem
      gerne und gehe dabei auch tauchen.
    </p>
    <p class="text-muted-foreground text-justify">
      Neben der Arbeit beschäftige ich mich auch privat gerne mit IT. Dabei
      arbeite ich an eigenen Projekten – häufig in Sprachen wie Go oder Rust,
      die ich im Berufsalltag seltener einsetze. Außerdem beschäftige ich mich
      mit Self-Hosting und Homelabbing und probiere gerne neue Technologien
      aus.
    </p>
    <p class="text-muted-foreground text-justify">
      Und wenn ich mal nicht unterwegs oder am Rechner bin, koche ich gerne.
      Am liebsten Pizza.
    </p>
  </Section>

  <Section title={t('section.skills')}>
    <SkillLayout title="Sprachen" skills={languages} />
    <SkillLayout title="Frontend" skills={frontend} />
    <SkillLayout title="Backend" skills={backend} />
    <SkillLayout title="Cloud-Anbieter" skills={cloud} />
    <SkillLayout title="Container und Infrastruktur" skills={containers} />
    <SkillLayout title="Weitere Technologien" skills={others} />
  </Section>

  <Section title={t('section.projects')}>
    <ProjectsSection lang="de" />
  </Section>
</Base>
